/* MEOS Adminimal Theme overrides file. All selectors must start with ".adminimal" */


/* Pop the Paragraph Field edit dialogs (Confirm Deletion or Restore) up above the paragraph instead of sending them to the bottom of the page. -FJH 2016.06.15 */
.form-actions, #edit-moderation-state-wrapper, .diff-button {
  position: fixed;
  bottom: 0px;
  background: aliceblue;
  padding: 7px 0 0 7px;
  border: thin solid #0074bd;
  z-index: 100;
}

#edit-moderation-state-wrapper {
  bottom: 13px;
  left: 319px;
  padding: 0 7px;
}
.toolbar-tray-open.toolbar-vertical #edit-moderation-state-wrapper {
  left: 559px;
}
:lang(de) #edit-moderation-state-wrapper {
  left: 370px;
}
.toolbar-tray-open.toolbar-vertical :lang(de) #edit-moderation-state-wrapper {
  left: 610px;
}
/* For content listing page, Update Preview button and pop-up dialog buttons in Views do not move buttons to fixed position at the bottom. */
.admin-content .form-actions,
.view-preview-form .form-actions,
[id*="-settings-edit-form-actions"].form-actions,
.views-ui-dialog .form-actions {
  position: static;
  background: transparent;
  padding: 0;
  border: none;
}
/* Do not move the Apply button in the Media Browser, the Switch button in the Masquerade block, nor the buttons on the "Filter Translatable Strings" search to the bottom of the page. */
[id^="views-exposed-form-media-entity-browser"] .form-actions, #block-masquerade .form-actions, .locale-translate-filter-form .form-actions {
  position: static;
  border: none;
  background: transparent;
  padding-top: 1.4em;
}
/* Get the "Load More" button out from under the "Select" button in the Media Browser. */
.entity-browser-image-browser-form a.button {
  position: relative;
  right: -220px;
}
/* Add color strip to end of selected tab */
.vertical-tabs__menu-item.is-selected a {
  border-left: 5px solid #0074BD;
}
/* Add border to paragraphs in edit form. This helps to make it clearer what belongs together. */
.field--widget-entity-reference-paragraphs .paragraphs-subform {
  width: 99%;
  border: #0074bd;
  border-width: thin;
  border-style: solid;
  padding: 0 0 0 7px;
  box-shadow: -2px 2px 3px #0074bd;
}
.adminimal label  {
  padding: 5px 0 0 0;
}
/* Keep Paragraph Preview images from expanding beyond 100% width. This also pushes the dropbuttons off the right of the screen. */
.paragraph.paragraph--view-mode--preview img {
  max-width: 100%;
  height: auto;
}
@media screen and (min-width: 780px), (min-device-height: 780px) and (orientation: landscape) {
  /* Set main region and footer back to full width as we are not using the right-sidebar. */
  .layout-region-node-main, .layout-region-node-footer {
    width: 100%;
    }
}
/* Make buttons that are not colored more visible. */
.adminimal .button:hover, .adminimal .button:focus {
  border: thin solid #008ee6;
  color: darkslategray;
  text-decoration: none;
}
.adminimal .button {
  border: thin solid white;
}
/* Make default buttons more visible than the default light grey. */
.adminimal .button {
  background-color: #d1e5f5;
}
input.form-submit:hover,
input.form-submit:focus {
  padding: 5px 9px;
}
/* Theme content listing view header /admin/content. */
.view-content .view-header {
  text-align: center;
  font-weight: 700;
  font-size: 1.3em;
}
/* Set the background-color of select radio button in error to red instead of white. */
.form-item input.error:focus, .form-item textarea.error:focus, .form-item select.error:focus {
  background-color: #e62600;
}

/* Positioning of Button and Moderation boxes on smaller width screens. */
@media screen and (max-width: 600px) {
  a.button--danger#edit-delete {
    float: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 6px;
    width: 100%;
    display: inline-block;
  }
  .form-actions, #edit-moderation-state-wrapper, .diff-button {
    position: unset;
    padding: 7px 0 0 0;
  }
  #edit-moderation-state-wrapper {
    left: 319px;
  }
  :lang(de) #edit-moderation-state-wrapper {
    left: 225px;
  }
}

@media screen and (max-width: 820px) {
  .toolbar-tray-open.toolbar-vertical #edit-moderation-state-wrapper,
  .toolbar-tray-open.toolbar-vertical .form-actions,
  .toolbar-tray-open.toolbar-vertical #edit-moderation-state-wrapper,
  .toolbar-tray-open.toolbar-vertical  .diff-button {
    position: unset;
  }
}
/*  To do
 * Set color to green on Save as unpublished /Save and Publish dropbutton-multiple.
 * Remove bottom left radius on last button in same dropbutton-multiple.
 * Add code/css to make "Warning: this content must be saved to reflect changes on this Kontakt item." type warnings stand out. Italics is not enough!
 * Color the Update and Cancel buttons when editing in Manage Form Display.

*/
