.kontaktbox {
  background-color:#e0e0e0;
  padding:1em;
  margin-top:8px;
}
.kontaktbox div:last-child {
  margin-bottom:0;
} 
.kontaktbox .field--name-field-plz-und-ort {
  margin-bottom:.5em;
}
.kontaktbox .field--name-field-kontakt-bild {
  float:left;
  margin-right:1em;
}
.kontaktbox .kontaktperson {
  float:left;
}
.kontaktbox .kontaktperson .field--name-field-kontakt-name {
  margin:0;
  font-weight:700;
}
