.field--name-field-p-kontakt-info {
  margin-bottom:2em;
}
.field--name-field-p-kontakt-info .field--name-field-kontakt-link,.kontaktbox .field--name-field-p-kontakt-info .field--name-field-label {
  display:inline-block;
}
.field--name-field-p-kontakt-info .field--name-field-label {
  width:65px;
  display: inline;
}
