/* Link mit Titel Paragraph styling */
.field--name-field-link-titel, .kontakt h3 {
  font-family:'Open Sans',sans-serif;
  line-height:1.2;
  color:#333;
  text-align:left;
  font-size:1rem;
  margin:0;
  font-weight:700;
  text-transform:uppercase
}
