/* Common CSS for all paragraphs for preview mode in the backend. */
.paragraph a,.paragraph a:hover,.paragraph a:link,.paragraph a:visited {
  color:#5e89c2;
  text-decoration:none
}
.paragraph a:hover {
  color:#335787
}
.paragraph--type--p-link-mit-titel .field--name-field-link a:after {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 1.2em;
  padding: 0 .3em;
  transition: padding .3s cubic-bezier(.65,.05,.36,1);
}
.paragraph--type--p-link-mit-titel .field--name-field-link a:hover:after {
    padding-left: .5em;
}

/* **** Set maximum width of paragraphs, so that Slick sliders do not trail off the right-hand side of the screen. **** */
/* Mobile Devices ----------- */
@media only screen and (min-device-width : 300px) and (max-width : 1068px) {
  .paragraph {
    max-width: 280px;
  }
}
/* Small Desktops and large tablets ----------- */
@media only screen and (min-width : 1068px) and (max-width : 1332px) {
  .paragraph {
    max-width: 620px;
  }
}
/* Medium size desktops and laptops ----------- */
@media screen and (min-width : 1332px) and (max-width : 1680px) {
  .paragraph {
    max-width: 960px;
  }
}
/* Wide screen desktops and laptops ----------- */
@media only screen and (min-width : 1680px) and (max-width : 1920px) {
  .paragraph {
    max-width: 1300px;
  }
}

/* Large screens ----------- */
@media only screen and (min-width : 1930px) {
  .paragraph {
    max-width: 1590px;
  }
}
