{#
/**
 * @file
 * Default theme implementation for a fieldgroup html element.
 *
 * Available variables:
 * - title: Title of the group.
 * - title_element: Element to wrap the title.
 * - children: The children of the group.
 * - wrapper_element: The html element to use
 * - attributes: A list of HTML attributes for the group wrapper.
 *
 * @see template_preprocess_field_group_html_element()
 *
 * @ingroup themeable
 */
#}
{#
/** We copied and pasted the field-group-html-element.html.twig file into this file.
 * Using the twig "extends" did not allow the attach_library to work.
 * this is related to the issue:
 * {% extends "foo.html.twig" %} in Twig templates does not respect theme inheritance
 * https://www.drupal.org/node/2387069
 */
#}

{% block attach %}
    {{ attach_library('meos_adminimal_theme/paragraph-group-kontaktbox') }}
{% endblock %}

<{{ wrapper_element }} {{ attributes }}>
  {% if title %}
  <{{ title_element }}{% if collapsible %} class="field-group-toggler"{% endif %}>{{ title }}</{{ title_element }}>
  {% endif %}
  {% if collapsible %}
  <div class="field-group-wrapper">
  {% endif %}
  {{children}}
  {% if collapsible %}
  </div>
  {% endif %}
</{{ wrapper_element }}>
