{% extends "paragraph.html.twig" %}


{% block attach %}
    {{ attach_library('meos_adminimal_theme/paragraph-text') }}
{% endblock %}

{% block id %}
    id="{{ var_field_sprungmarke|render|clean_id }}"
{% endblock %}

{% block content %}
    {% if var_field_position == 'left' %}
        <div class="abstandwrapper col-{{ var_field_breite_eingabewert }}">
        </div>
        <div class="textwrapper col-{{ var_field_breite_gegenwert }}">
            {{ content.field_text }}
        </div>
    {% else %}
        <div class="textwrapper col-{{ var_field_breite_gegenwert }}">
            {{ content.field_text }}
        </div>
        <div class="abstandwrapper col-{{ var_field_breite_eingabewert }}">
        </div>
    {% endif %}
{% endblock %}

{% block previewinfo %}
    <div class="previewinfo">
    {% if var_field_sprungmarke|render|trim %}
        <p>Der Sprungmarke <b>#{{ var_field_sprungmarke|render|clean_id }}</b> ist für diesen <i>Text</i> eingestellt.</p>
    </div>
    {% endif %}
{% endblock %}
{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
