/* Style checkbox and radio buttons in Chrome + Safari + Opera */
@supports (-webkit-appearance:none) {
  .style-checkboxes input[type=checkbox],
  .style-checkboxes input[type=radio],
  .style-checkboxes input[type=checkbox]#edit-delete {
    -webkit-appearance:none;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 0.25em;
    padding: 0;
    background: #fff;
    border: 1px solid #B5B5B5;
    width: 16px !important;
    height: 16px !important;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: background 0.5s ease;
    outline: none;
  }

  .adminimal-theme .location .form-item input.form-checkbox {
    width: 16px;
    display: inline-block;
  }

  .style-checkboxes input[type=checkbox]#edit-delete {
    margin-bottom: 0;
  }

  .style-checkboxes input[type=radio] {
    border-radius: 50%;
  }

  .style-checkboxes input[type=checkbox]:hover,
  .style-checkboxes input[type=checkbox]:focus,
  .style-checkboxes input[type=radio]:hover,
  .style-checkboxes input[type=radio]:focus {
    border-color: #0074BD;
    cursor: pointer;
  }

  .style-checkboxes input[type=checkbox]#edit-delete:hover,
  .style-checkboxes input[type=checkbox]#edit-delete:focus {
    border-color: #D01616;
    cursor: pointer;
  }

  .style-checkboxes input[type=checkbox]:checked,
  .style-checkboxes input[type=checkbox]:disabled:checked,
  .style-checkboxes input[type=radio]:checked,
  .style-checkboxes input[type=radio]:disabled:checked{
    background: #0074BD;
    box-shadow: inset 0px 0px 0px 4px #fff;
  }

  .style-checkboxes input[type=checkbox]#edit-delete:checked,
  .style-checkboxes input[type=checkbox]#edit-delete:disabled:checked {
    background: #D01616;
    box-shadow: inset 0px 0px 0px 4px #fff;
  }

  .style-checkboxes input[type=checkbox]:disabled,
  .style-checkboxes input[type=radio]:disabled {
    opacity: .5;
    background: #E2E2E2;
  }

  .style-checkboxes input[type=checkbox]#edit-delete:disabled {
    opacity: .5;
    background: #E88181;
  }

  .style-checkboxes input[type=checkbox]:disabled:hover {
    border-color: #B5B5B5;
    cursor: default;
  }

  .style-checkboxes input[type=checkbox]:disabled:hover,
  .style-checkboxes input[type=radio]:disabled:hover {
    border-color: #B5B5B5;
    cursor: default;
    /*cursor: not-allowed;*/
  }

}

/* Buttons */

/* Gray Button */
input.form-submit,
a.button,
div.exposed-filters input#edit-submit {
  cursor: pointer;
  background: #e3e3e3;
  border: none;
  border-radius: 0;
  padding: 6px 10px;
  margin-bottom: 1em;
  margin-right: 1em;/* LTR */
  color: #555;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande",Verdana,sans-serif;
  transition: all, 0.3s;
}

input.form-submit:hover,
a.button:hover,
div.exposed-filters input#edit-submit:hover {
  background: #CECECE;
}

input.form-submit:active,
a.button:active,
div.exposed-filters input#edit-submit:active {
  border-radius: 0;
  border: none;
}

input.form-submit:focus,
a.button:focus,
div.exposed-filters input#edit-submit:focus {
  outline: 3px solid #EFEFEF;
}

/* Green Button */
input[type="submit"][id^="edit-submit"].button,
input[type="submit"][id*="form-actions-save-settings"].button,
.adminimal input[id*="-entity-browser-open-modal--"].button,
input#edit-actions-submit,
input[id^="save-continue"],
input[type="submit"][id^="edit-save"],
input#edit-save,
input#edit-submit,
input#edit-actions-save,
.field-widget-inline-entity-form .container-inline .form-submit,
.adminimal input[value*="Save"].form-submit,
#media-browser-page a.button-yes,
input.add-new-condition,
.adminimal input.field-add-more-submit.button,
#edit-field-product-und-form-actions input.ief-entity-submit {
  cursor: pointer;
  border-radius: 0;
  border: none;
  padding: 6px 10px;
  margin-bottom: 1em;
  margin-right: 1em;/* LTR */
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande",Verdana,sans-serif;
  background: #4d8f46;
  transition: all, 0.3s;
}

input[type="submit"][id^="edit-submit"]:hover,
input[type="submit"][id*="form-actions-save-settings"].button:hover,
.adminimal input[id*="-entity-browser-open-modal--"]:hover,
input#edit-actions-submit:hover,
input[id^="save-continue"]:hover,
input[type="submit"][id^="edit-save"]:hover,
.adminimal .dropbutton-wrapper .dropbutton-widget .dropbutton-action input[value*="Save"].form-submit:hover,
input#edit-save:hover,
input#edit-submit:hover,
input#edit-actions-save:hover,
.field-widget-inline-entity-form .container-inline .form-submit:hover,
#media-browser-page a.button-yes:hover,
input.add-new-condition:hover,
.adminimal input.field-add-more-submit:hover,
#edit-field-product-und-form-actions input.ief-entity-submit:hover {
  background: #0a6700;
  border-radius: 0;
  border: none;
  color: #fff;
}

input[type="submit"][id^="edit-submit"]:active,
input[type="submit"][id*="form-actions-save-settings"].button:active,
.adminimal input[id*="-entity-browser-open-modal--"]:active,
input#edit-actions-submit:active,
input[id^="save-continue"]:active,
input[type="submit"][id^="edit-save"]:active,
input#edit-save:active,
input#edit-submit:active,
.field-widget-inline-entity-form .container-inline .form-submit:active,
input#edit-actions-save:active,
input.add-new-condition:active,
.adminimal input.field-add-more-submit:active,
#edit-field-product-und-form-actions input.ief-entity-submit:active {
  border-radius: 0;
  border: none;
  color: #fff;
}

input[type="submit"][id^="edit-submit"]:focus,
input[type="submit"][id*="form-actions-save-settings"].button:focus,
.adminimal input[id*="-entity-browser-open-modal--"]:focus,
input#edit-actions-submit:focus,
input[id^="save-continue"]:focus,
input[type="submit"][id^="edit-save"]:focus,
input#edit-save:focus,
input#edit-submit:focus,
.field-widget-inline-entity-form .container-inline .form-submit:focus,
input#edit-actions-save:focus,
.adminimal input.add-new-condition:focus,
.adminimal input.field-add-more-submit:focus,
#edit-field-product-und-form-actions input.ief-entity-submit:focus {
  outline: 3px solid #D0E8CE;
}

/* Red Button */
input#edit-delete,
a#edit-delete.button--danger,
input#remove-button,
input#edit-remove,
input#edit-clear,
a.button.remove,
.page-node-delete input#edit-submit,
.page-admin-modules-uninstall input#edit-submit,
.remove-condition input,
.adminimal input[id*="remove-button"].form-submit {
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 0;
  border: none;
  margin-bottom: 1em;
  margin-right: 1em;/* LTR */
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande",Verdana,sans-serif;
  background: #b73939;
  transition: all, 0.3s;
}

input#edit-delete:hover,
a#edit-delete.button--danger:hover,
input#remove-button:hover,
input#edit-remove:hover,
input#edit-clear:hover,
a.button.remove:hover,
.page-node-delete input#edit-submit:hover,
.adminimal input[id*="remove-button"]:hover,
.adminimal .dropbutton-wrapper .dropbutton-widget .dropbutton-action input[id*="confirm-remove-button"]:hover,
body.page-admin-modules-uninstall input#edit-submit:hover,
.remove-condition input:hover,
.field-widget-inline-entity-form .ief-entity-operations input[id*="remove"].form-submit:hover {
  background: #990000;
  border-radius: 0;
  border: none;
  color: #fff;
  text-decoration: none;
}

input#edit-delete:active,
input#remove-button:active,
input#edit-remove:active,
input#edit-clear:active,
.page-node-delete input#edit-submit:active,
.adminimal input[id*="remove-button"]:active,
body.page-admin-modules-uninstall input#edit-submit:active,
.remove-condition input:active,
.field-widget-inline-entity-form .ief-entity-operations input[id*="remove"].form-submit:active {
  border-radius: 0;
  border: none;
  color: #fff;
}

input#edit-delete:focus,
input#remove-button:focus,
input#edit-remove:focus,
input#edit-clear:focus,
.page-node-delete input#edit-submit:focus,
.adminimal input[id*="remove-button"]:focus,
body.page-admin-modules-uninstall input#edit-submit:focus,
.remove-condition input:focus,
.field-widget-inline-entity-form .ief-entity-operations input[id*="remove"].form-submit:focus {
  outline: 3px solid #FFD8D8;
}

/* Blue Button */
input#edit-preview,
.adminimal input[id*="edit-button"].button,
.adminimal input[id*="collapse-button"].button,  /* FIXME Should we change the color of the edit-button and the collapse-button for paragraphs? FJH */
input#edit-next,
input#preview-submit,
input.ief-entity-submit,
input[type="submit"][id^="edit-return"],
.field-widget-inline-entity-form .ief-entity-operations input[id*="edit"] {
  cursor: pointer;
  border-radius: 0;
  border: none;
  padding: 6px 10px;
  margin-bottom: 1em;
  margin-right: 1em;/* LTR */
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande",Verdana,sans-serif;
  background: #0074BD;
  transition: all, 0.3s;
}

input#edit-preview:hover,
.adminimal .collapse.dropbutton-action input[id*="edit-button"].button:hover,
.adminimal .collapse.dropbutton-action input[id*="collapse-button"].button:hover,  /* FIXME Should we change the color of the edit-button and the collapse-button for paragraphs? FJH */
input#edit-next:hover,
input#preview-submit:hover,
input.ief-entity-submit:hover,
input[type="submit"][id^="edit-return"]:hover,
.field-widget-inline-entity-form .ief-entity-operations input[id*="edit"]:hover {
  background: #004c99;
  border-radius: 0;
  border: none;
  color: #fff;
}

input#edit-preview:active,
input#edit-next:active,
input#preview-submit:active,
input.ief-entity-submit:active,
input[type="submit"][id^="edit-return"]:active,
.field-widget-inline-entity-form .ief-entity-operations input[id*="edit"]:active {
  border-radius: 0;
  border: none;
  color: #fff;
}

input#edit-preview:focus,
input#edit-next:focus,
input#preview-submit:focus,edit-form-actions-cancel-settings-
input.ief-entity-submit:focus,
input[type="submit"][id^="edit-return"]:focus,
.field-widget-inline-entity-form .ief-entity-operations input[id*="edit"]:focus {
  outline: 3px solid #D2E4F7;
}

/* Orange Button */
#edit-cancel,
#edit-actions-cancel,
#edit-reset,
input[type="submit"][id*="form-actions-cancel-settings"].button,
.adminimal .restore.dropbutton-action input[id*="restore-button"],
.adminimal .restore.dropbutton-action:last-child input[id*="restore-button"].button,
#media-browser-page a.button-no,
.field-widget-inline-entity-form input[id*="cancel"] {
  cursor: pointer;
  border-radius: 0;
  border: none;
  padding: 6px 10px;
  margin-bottom: 1em;
  margin-right: 1em;/* LTR */
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande",Verdana,sans-serif;
  background: #f69231;
  transition: all, 0.3s;
}

a#edit-cancel,a#edit-actions-cancel {
  padding: 6px 10px;
  text-decoration: none;
  border-radius: 0;
  border: none;
}

#edit-cancel:hover,
#edit-actions-cancel:hover,
#edit-reset:hover,
input[type="submit"][id*="form-actions-cancel-settings"].button:hover,
.adminimal .restore.dropbutton-action input[id*="restore-button"]:hover,
#media-browser-page a.button-no:hover,
.field-widget-inline-entity-form input[id*="cancel"]:hover {
  background: #ef6114;
  text-decoration: none;
  border-radius: 0;
  border: none;
  color: #fff;
}

#edit-cancel:active,
#edit-actions-cancel:active,
#edit-reset:active,
input[type="submit"][id*="form-actions-cancel-settings"].button:active,
.adminimal .restore.dropbutton-action input[id*="restore-button"]:active,
.field-widget-inline-entity-form input[id*="cancel"]:active {
  border-radius: 0;
  border: none;
  color: #fff;
}

#edit-cancel:focus,
#edit-actions-cancel:focus,
#edit-reset:focus,
input[type="submit"][id*="form-actions-cancel-settings"].button:focus,
.adminimal .restore.dropbutton-action input[id*="restore-button"]:focus,
.field-widget-inline-entity-form input[id*="cancel"]:focus {
  outline: 3px solid #FFE8D2;
}

html body input.disabled,
html body input.disabled:hover,
html body input.disabled:active,
html body input.disabled:focus {
  background-color: #A0A0A0;
  color: #CCCCCC;
  text-decoration: line-through;
  cursor: not-allowed;
}

input[type="submit"]:disabled {
  background: repeating-linear-gradient(
    -45deg,
    #FFFFFF,
    #D2D2D2 4px
  ) !important;
  color: #6B6B6B !important;
  cursor: not-allowed !important;
  outline: none !important;
  opacity: 0.665 !important;
  text-shadow: 1px 1px 0px #fff !important;
}

/* END Buttons */

strong {
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
}

/* Omega Fieldset fix */
body.page-admin-appearance-settings-omega fieldset {
  border: solid 1px #ddd !important;
  border-top: 3px solid #0074BD !important;
  padding: 12px !important;
  margin: 18px 0 !important;
}

div.breadcrumb a {
  transition: all, 0.3s;
}

ul.action-links a {
  padding: 0px 20px;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: bold;
  background: #fff;
  line-height: 30px;
  border: 2px solid #0074BD;
  margin: 5px auto;
  border-radius: 100px;
  display: block;
  transition: all, 0.3s;
}

body.no-rounded-buttons ul.action-links a {
  border-radius: 0;
}

ul.action-links a:hover {
  text-decoration: none;
  background: #0074BD;
  color: #fff;
}

#admin-menu {
  box-shadow: none;
  background: #2B2B2B;
}

#admin-menu .dropdown .admin-menu-toolbar-category > a.active-trail {
  background: #0074BD;
}

.overlay #overlay-close,
.overlay #overlay-close:hover {
  height: 44px;
  background-position-y: 10px;
  left: -36px;
}

.overlay #overlay-tabs {
  right: 2px;
}

body.sticky-actions .form-actions.form-wrapper {
  box-shadow: -20px 2px 40px rgba(0,0,0,0.4);
}
